.filter__button {
  display: flex;
  align-items: center;
  cursor: pointer; }

.filter__bTitle {
  margin-left: 8px;
  text-transform: uppercase;
  display: inline-block;
  font-size: 1.4em;
  font-weight: 500; }

.filter__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  vertical-align: middle;
  stroke: none;
  width: 24px;
  height: 24px;
  filter: invert(90%) !important; }

.filter__container {
  margin-bottom: 32px;
  flex-direction: row;
  display: flex; }

.filter {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 32px 0 0; }

.filter__title {
  color: #111111;
  border-bottom: 1px solid #eeeeee;
  margin: 5px 0;
  padding: 15px 0;
  font-size: 1.3em;
  font-weight: 500;
  letter-spacing: .007px;
  text-transform: uppercase; }

.filter__option {
  padding: 15px 0 0 0;
  display: flex;
  flex-direction: row;
  text-decoration: none; }

.--disabled {
  position: relative;
  opacity: .5;
  cursor: default !important; }
  .--disabled:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0; }

.filter__name {
  cursor: pointer;
  text-transform: capitalize;
  font-size: 1.4em;
  color: #888888; }
  .filter__name.--active {
    color: #111111;
    font-weight: 500; }

.filter__remove {
  align-items: center;
  justify-content: center;
  position: relative;
  vertical-align: middle;
  stroke: none;
  width: 24px;
  cursor: pointer;
  color: #111111;
  display: none;
  padding-left: 10px;
  font-size: 1.2em; }
  .filter__remove.--show {
    display: block; }
